{% block image_upload_widget %}
    {% spaceless %}
        <div class="upload">
            <div class="upload_preview">
                {% if data %}
                    <a href="{{ image_url(data, 1024, 768) }}" class="fancybox">{{ render_image(data, 250, 200) }}</a>
                {% endif %}
            </div>
            <div class="upload_error"></div>
            <button class="upload_button small">Select Image</button>
            <button class="upload_remove_button small"{% if not data %} style="display:none"{% endif %}>Remove Image</button>
            <input type="hidden"{{ block('widget_attributes') }} value="{% if data %}{{ data.id }}{% endif %}"/>
            <script>
                $('#{{ form.vars.id }}').uploadWidget({
                    post_url: '{{ path(post_route) }}',
                    flash_url: '{{ asset("bundles/hoyesimagemanager/Moxie.swf") }}'
                });
            </script>
        </div>
    {% endspaceless %}
{% endblock %}